.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.sider {
  text-align: center;
}
.sider h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.site-layout-content {
  flex: 1;
}
